[submodule "3rdparty/EWAHBoolArray"]
	path = 3rdparty/EWAHBoolArray
	url = git@github.com:axiak/EWAHBoolArray.git
[submodule "3rdparty/rocksdb"]
	path = 3rdparty/rocksdb
	url = git@github.com:axiak/rocksdb.git
[submodule "3rdparty/fast-cpp-csv-parser"]
	path = 3rdparty/fast-cpp-csv-parser
	url = https://code.google.com/p/fast-cpp-csv-parser/
